<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pa animations example page</title>
    <script src="../angular/angular.js"></script>
    <script src="../angular-animate/angular-animate.js"></script>
    <script src="../angular-spy/dist/spy.js"></script>
    <script src="/cat.js"></script>
    <script src="/main.js"></script>
    <style media="screen">
        .a-class-name {
            background-color: red;
            color: black;
            transition: all 2s;
        }

        .a-class-name--start {
            background-color: black;
            color: red;
            transition: none;
        }
    </style>
</head>

<body ng-app="example">
    <section>
        <h1>Animation class example</h1>

        <div class="a-class-name" cat-class="a-class-name" cat-active="trigger" cat-status="status">Animation content</div>
        <button type="button" name="button" ng-click="trigger = !trigger">Toggle animation "active" binding to {{!trigger}}</button>
        <ul class="values">
            <li>Status: {{status}}</li>
            <li>Active: {{trigger}}</li>
        </ul>
    </section>
    <section>
        <h1>Animation class example, no class set</h1>

        <div cat-class="a-class-name" cat-active="triggerNoClass" cat-status="statusNoClass">Animation content</div>
        <button type="button" name="button" ng-click="triggerNoClass = !triggerNoClass">Toggle animation "active" binding to {{!triggerNoClass}}</button>
        <ul class="values">
            <li>Status: {{statusNoClass}}</li>
            <li>Active: {{triggerNoClass}}</li>
        </ul>
    </section>
    <section>
        <h1>Animation class with undo example</h1>

        <div
            class="a-class-name"
            cat-class="a-class-name"
            cat-active="triggerUndo"
            cat-status="statusUndo"
            cat-undo="1"
        >
            Animation content
        </div>
        <button type="button" name="button" ng-click="triggerUndo = !triggerUndo">Toggle animation "active" binding to {{!triggerUndo}}</button>
        <ul class="values">
            <li>Status: {{statusUndo}}</li>
            <li>Active: {{triggerUndo}}</li>
        </ul>
    </section>
    <section>
        <h1>Animation class with disable example</h1>

        <div
            class="a-class-name"
            cat-class="a-class-name"
            cat-active="triggerDisableDemo"
            cat-status="statusDisable"
            cat-disabled="true"
        >
            Animation content
        </div>
        <button type="button" name="button" ng-click="triggerDisableDemo = !triggerDisableDemo">Toggle animation "active" binding to {{!triggerDisableDemo}}</button>
        <ul class="values">
            <li>Status: {{statusDisable}}</li>
            <li>Active: {{triggerDisableDemo}}</li>
        </ul>
    </section>
    <section>
        <h1>Animation class with disable and undo example</h1>

        <div
            class="a-class-name"
            cat-class="a-class-name"
            cat-active="triggerDisableUndoDemo"
            cat-status="statusDisableUndo"
            cat-disabled="disabled"
            cat-undo="1"
        >
            Animation content
        </div>
        <button type="button" name="button" ng-click="triggerDisableUndoDemo = !triggerDisableUndoDemo">Toggle animation "active" binding to {{!triggerDisableUndoDemo}}</button>
        <button type="button" name="button" ng-click="disabled = !disabled">Toggle disable {{!disabled}}</button>
        <ul class="values">
            <li>Status: {{statusDisableUndo}}</li>
            <li>Active: {{triggerDisableUndoDemo}}</li>
            <li>Disabled: {{disabled}}</li>
        </ul>
    </section>
</body>

</html>
