<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pa animations example page</title>
    <script src="../angular/angular.js"></script>
    <script src="../angular-animate/angular-animate.js"></script>
    <script src="../angular-spy/dist/spy.js"></script>
    <script src="/cat.js"></script>
    <script src="/main.js"></script>
    <style media="screen">
        .a-class-name {
            background-color: red;
            color: black;
            transition: all 2s;
        }

        .a-class-name--start {
            background-color: black;
            color: red;
            transition: none;
        }
    </style>
</head>

<body ng-app="example">
    <section>
        <h1>Delay directive example</h1>

        <div
            cat-delay="3000"
            cat-active="trigger"
            cat-status="status"
        >
            3 seconds delay
        </div>
        <button type="button" name="button" ng-click="trigger = !trigger">Toggle animation "active" binding to {{!trigger}}</button>
        <ul class="values">
            <li>Status: {{status}}</li>
            <li>Active: {{trigger}}</li>
        </ul>
    </section>

    <section>
        <h1>Delay directive with undo example</h1>

        <div
            cat-delay="1000"
            cat-active="triggerUndo"
            cat-status="statusDelayed"
            cat-undo="1"
        >
            1 seconds delay with undo
        </div>
        <button type="button" name="button" ng-click="triggerUndo = !triggerUndo">Toggle animation "active" binding to {{!triggerUndo}}</button>
        <ul class="values">
            <li>Status: {{statusDelayed}}</li>
            <li>Active: {{triggerUndo}}</li>
        </ul>
    </section>
    <section>
        <h1>Delay directive with disabled example</h1>

        <div
            cat-delay="5000"
            cat-active="triggerDisabledDeni"
            cat-status="statusDisabledDemo"
            cat-disabled="true"
        >
            1 seconds delay with undo
        </div>
        <button type="button" name="button" ng-click="triggerDisabledDeni = !triggerDisabledDeni">Toggle animation "active" binding to {{!triggerDisabledDeni}}</button>
        <ul class="values">
            <li>Status: {{statusDisabledDemo}}</li>
            <li>Active: {{triggerDisabledDeni}}</li>
        </ul>
    </section>

</body>

</html>
